spring.application.name=event-sphere

# Database Configuration
spring.datasource.url=jdbc:postgresql://localhost:5432/yourDB
spring.datasource.username=your-username
spring.datasource.password=your-password
spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.properties.hibernate.default_schema=public

# Hibernate / JPA Configuration
spring.jpa.hibernate.ddl-auto=none
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

# JWT Configuration
security.jwt.secret-key=your-secret-key
security.jwt.expiration-time=3600000